.tinder {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.tinder--cards {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    width: 100%;
    height: 52%;
    overflow: hidden;
}

.tinder--card {
    display: inline-block;
    background: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    transition: all 0.3s ease-in-out;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.tinder--card {
    display: inline-block;
    width: 93vw;
    height: 82%;
    border-radius: 5px;
    overflow: hidden;
    will-change: transform;
    transition: all 0.3s ease-in-out;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.moving.tinder--card {
    transition: none;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}