<ion-content>


  <!-- Header -->
  <div style="height: 110px; background: linear-gradient(13.32deg, #3490BF 5.32%, #38C1C7 49.46%, #358DBF 94.68%);">
    <ion-row style="padding: 0px; z-index: 30; color: white; font-size: 15px; padding-top: 15px;">
      <ion-col size="0.5">
      </ion-col>
      <ion-col style="z-index: 9;"size="1" routerLink="/home" routerDirection="forward">
        <img src="assets/left.png">
      </ion-col>
      <ion-col size="6">
        {{subject}}
      </ion-col>
      <ion-col size="4">
        Total Topics: {{topicTitlesArray.length}}
      </ion-col>
    </ion-row>
  </div>

  <div class="pageBackground">


    <!-- Ngfor will be the topics string array -->
    <app-tinder-ui [cards]="topicsArray"></app-tinder-ui>


    <ion-card [ngStyle]="{'height': cardheight}" id="questionsCard"
      >
      <div style="margin: 9px;">
        <div id="questionsTitle">
          <span style="font-weight: 600; font-size: 11px;">Questions</span>
          <div style="height: 0.7px; margin-top: 9px; width: 100%; background-color: black; opacity: 0.1; "></div>
        </div>
        

        <!-- Each question -->
        <div *ngFor="let question of topicsArray[0].questions; let i = index" style="width: 100%; height: 100%;">

          <!-- Question and arrow -->
          <div style="width: 100%; height: auto;">
            <ion-row (click)="hideOrShowAnswer(i)" style="padding: 0px">
              <ion-col style="padding: 0px;" size="11.3">
                <span style="font-size: 10px; opacity: 0.7;">{{question.deck}}: </span>
                <span style="font-size: 11px;">{{question.question}}</span>

                <div [hidden]="question.hideAnswer" style="margin-top: 5px;">
                  <span style="font-size: 11px;">{{question.answer}}</span>
                </div>


              </ion-col>
              <ion-col size="0.7">
                <ion-icon [hidden]="!question.hideAnswer" style="margin-top: 10px;" name="arrow-down"></ion-icon>
                <ion-icon [hidden]="question.hideAnswer" style="margin-top: 10px;"
                  name="arrow-up"></ion-icon>

              </ion-col>
            </ion-row>
            <!-- Line divider -->
            <div style="height: 0.7px; margin-top: 5px; width: 100%; background-color: black; opacity: 0.1; ">
            </div>

          </div>
        </div>
      </div>
    </ion-card>

    <!-- Buttom buttons -->
    <div style="width: 100%; position: absolute; bottom: 7px;">
      <ion-button color="warning" style="float: left; margin-left: 15px; height: 30px; width: 80px;" expand="round">
        <span style="font-size: 12px; color: white;">TEST</span></ion-button>
      <ion-button color="warning" style="float: right; margin-right: 15px; width: 80px; height: 30px;" expand="round">
        <span style="font-size: 12px; color: white;">STUDY</span></ion-button>
    </div>
  </div>

</ion-content>