<ion-content>
  <!-- Header -->
  <div style="height: 110px; background: linear-gradient(13.32deg, #3490BF 5.32%, #38C1C7 49.46%, #358DBF 94.68%);">
    <ion-row style="padding: 0px; margin-bottom: 10px; z-index: 30; color: white; font-size: 15px; padding-top: 15px;">
      <ion-col size="0.5">
      </ion-col>
      <ion-col style="z-index: 9;" size="1" routerLink="/topics" routerDirection="backward">
        <img src="assets/left.png">
      </ion-col>
      <ion-col size="7.5">
        <span style="font-size: 18px;">{{topic}}</span>
      </ion-col>
            <ion-col size="1.5">
              <img height="20px" src="../../assets/pencil.png">
            </ion-col>
      <ion-col size="1.5">
        <img height="20px" src="../../assets/more.png">
      </ion-col>
    </ion-row>

    <p align="center" style="margin: 0px; font-size: 15px; color: white;">Study Session</p>
    <p align="center" style="margin: 0px;">
      <ion-progress-bar class="progress" color="medium" [value]="40/100"></ion-progress-bar>
    </p>

  </div>


  <div class="pageBackground">

    <div [ngStyle]="{height: placeholderDivHeight}" style="height: 38%;">

    </div>
    <app-study-ui [cards]="questions">
      </app-study-ui>

          <p style="margin: 0px; position: absolute; left: 45%; z-index: 300;">
            <img [hidden]="!hideAnswer" (click)="hideOrShowAnswer()" style="bottom: 30px;" height="40px"
              src="../../assets/arrowup.png">
            <img [hidden]="hideAnswer" (click)="hideOrShowAnswer()" style="bottom: 30px;" height="40px"
              src="../../assets/arrowdown.png">
          </p>

    <!-- <div style="padding-top: 20px; padding-left: 20px; padding-right: 20px;">
      <ion-card
        style="border-radius: 5px; overflow: auto; border: #F2AD09 solid 1px; margin: 0px; width: 90vw;"
        [ngStyle]="{'padding-top': topPaddingTop, 'padding-bottom': topPaddingBottom, 'padding-left': topPaddingLeft, 'padding-right':
        topPaddingRight, 'font-size': questionFontSize, 'height': topHeight}"
        [innerHtml]="questions[0].question">
      </ion-card>
    </div>

    -->

    <div style="padding-top: 10px; position: absolute; bottom: 90px; padding-right: 20px; padding-left: 20px;">
      <ion-card
        style="border-radius: 5px; border: #F2AD09 solid 1px; margin: 0px; padding: 20px; font-size: 16px; width:
        90vw; overflow: auto;"
        [ngStyle]="{'height': bottomHeight, visibility: bottomVisible}" [innerHtml]="questions[0].answer">
      </ion-card>
    </div>
  </div>

</ion-content>
