<div class="tinder" [hidden]="!cards.length">

  <div id="tindercards" class="tinder--cards">

    <div #tinderCard class="tinder--card" (transitionend)="handleShift()" *ngFor="let card of cards; let i = index"
      [ngStyle]="{ zIndex: cards.length - i, height: card.cardHeight, transform: 'scale(' + (21 - i) / 21 + ') translateY(-' + 21 * i + 'px)' }">

      <div style="margin-top: 20px; margin-left: 10px; font-size: 16px; color: #3F96C2;">{{card.title}}</div>

      <div [hidden]="card.isContentHidden">


        <div style="font-size: 10px; margin-top: 5px; max-lines: 3; margin-left: 10px;">Lorem ipsum dolor lorem ipsum
          dolor lorem ipsum
          dolor lorem ipsum dolor lorem psum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum
          dolor
          <span style="font-weight: 400; color: #3F96C2; font-size: 11px;">Show more <ion-icon name="add"></ion-icon>
          </span>
        </div>

        <p align="center" style="margin: 8px;">
          <ion-segment style="width: 60%; height: 35px;" [(ngModel)]="buttonValue" mode="ios"
            (ionChange)="segmentChanged($event)">
            <ion-segment-button value="study">
              <div style="font-size: 10px; font-weight: 100;">Study Progress</div>
            </ion-segment-button>
            <ion-segment-button value="testing">
              <div style="font-size: 10px; font-weight: 100">Testing Progress</div>
            </ion-segment-button>
          </ion-segment>
        </p>

        <div style="padding-left: 10px; width: 100%; overflow-y:auto;">

          <div [hidden]="hideStudyProgress">
                      <ion-row>
                        <ion-col style="font-size: 9px; opacity: 0.7;" size="3">DECKS</ion-col>
                        <ion-col style="font-size: 9px;  opacity: 0.7; padding-left: 0px;" size="9">TESTING DATES
                        </ion-col>
                      </ion-row>

                      <ion-row style="margin-top: 5px;" *ngFor="let deck of testdeck">
                        <ion-col size="3" style="font-size: 10px; padding: 0px; opacity: 0.7;">
                          <div style="width: 100%; height: 13px;">
                            <div style="width: 20%; float: left;">
                              <!-- <input type="checkbox" id="myCheck" onclick="myFunction()"> -->
                              <img [hidden]="!deckIsChecked" height="10px" src="../../assets/check.png">
                              <img [hidden]="deckIsChecked" height="10px" src="../../assets/uncheck.png">

                            </div>
                            <div style="width: 80%; float: left;">
                              <span style="font-size: 10px; margin-left: 5px; margin-bottom: 10px;">All Decks</span>
                            </div>
                          </div>
                        </ion-col>

                        <ion-col size="2.2" style="font-size: 10px;  padding: 0px;  opacity: 0.7;">
                          {{card.decks.length}}
                        </ion-col>
                        <ion-col size="2.2" style="font-size: 10px;  padding: 0px;  opacity: 0.7;">
                          18th March
                        </ion-col>
                        <ion-col size="2.2" style="font-size: 10px;  padding: 0px;  opacity: 0.7;">
                          12th March
                        </ion-col>
                        <ion-col size="2.2" style="font-size: 10px;  padding: 0px;  opacity: 0.7;">
                          15th March
                        </ion-col>
                      </ion-row>
          </div>


        </div>

      </div>

    </div>
  </div>
</div>