<div class="tinder" [hidden]="!cards.length">

  <div id="studycards" class="tinder--cards">

    <div #tinderCard class="tinder--card" (transitionend)="handleShift()" *ngFor="let card of cards; let i = index"
      style="border-radius: 5px; overflow: auto; border: #F2AD09 solid 1px;" [ngStyle]="{ zIndex: cards.length - i, opacity: card.opacity, transform: 'scale(' + (20 - i) / 20 + ') translateY(-' + 20 * i + 'px)',
      'padding-top': card.paddingTop, 'padding-bottom': card.paddingBottom, 'padding-left': card.paddingLeft, 'padding-right':
      card.paddingRight, 'font-size': card.questionFontSize, 'height': card.topHeight}" [innerHtml]="card.question">
    </div>
  </div>

  <div style="bottom: 10px; width: 100vw; position: absolute;">
    <p align="center" style="margin: 0px; font-size: 14px;">How well do you know this?</p>

    <ion-row (click)="goToNextQuestion()"
      style="margin-top: 10px; justify-content: center; align-items: center; width: 100vw;">
      <div style="padding-top: 7px;  float: left; border-radius: 25px; margin:
            5px; font-size: 10px; background-color: #DC2900; padding-bottom: 7px; padding-left: 10px; padding-right:
            10px;">
        Total Loss
      </div>

      <div style="padding-top: 7px; float: left; border-radius: 25px; margin: 5px; font-size: 10px; background-color:
            #FFB695;
            padding-bottom: 7px; color: white; padding-left: 10px; padding-right: 10px;">
        Not Well Enough
      </div>

      <div style="padding-top: 7px; float: left; border-radius: 25px; margin: 5px; font-size: 10px; background-color:
            #F1CE55;
            padding-bottom: 7px; color: white; padding-left: 10px; padding-right: 10px;">
        Very Well
      </div>

      <div style="padding-top: 7px; float: left; border-radius: 25px; margin: 5px; font-size: 10px; background-color:
            #75D91A;
            padding-bottom: 7px; color: white; padding-left: 10px; padding-right: 10px;">
        Perfect Recall
      </div>

    </ion-row>
  </div>
</div>