// #addicondiv{
//   width: 100vw;
//   position: absolute;
//   bottom: 10px;
//   text-align: center;
// }

// #subjectcards{
//   height: 220px;
//   border-radius: 20px;
// }

// ::-webkit-scrollbar,
// *::-webkit-scrollbar {
//   display: none;
// }

ion-searchbar{
  z-index: 50;
  --background: #ffffff;
}

ion-content {
  --background: #fff url('../../assets/background.png') no-repeat center center / cover;
}

.cardTitle {
  margin-left: 15px;
  font-size: 14px;
  font-weight: 600;
}

.cardLastReview {
  margin-left: 15px;
  margin-top: 10px;
  font-size: 11px;
  opacity: 0.6;
}

.cardDescription {
  margin-left: 15px;
  margin-top: 10px;
  font-size: 11px;
  opacity: 0.9;
}

.cardDescription2 {
  margin-left: 15px;
  font-size: 11px;
  opacity: 0.9;
}

.lineDivider {
  height: 0.5px;
  background-color: black;
  // opacity: 0.1px;
}

.progress {
  height: 5px;
  width: 40%;
  // border-radius: 25px;
  margin-left: 15px;
}

.cardImage {
  width: 92%;
  margin-top: 15px;
  object-fit: cover;
  border-radius: 20px;
  margin-left: 4%;
  height: 150px;
}

.goButton {
  height: 33px;
  // border-radius: 50px;
  width: 100px;
}

.progress {
  height: 5px;
  width: 90%;
  // border-radius: 25px;
  margin-left: 15px;
}