<ion-content padding="none" [fullscreen]="true">

    <ion-searchbar animated="true" mode="ios" placeholder="Search subjects here..."></ion-searchbar>
<!--
   <ion-card style="height: 250px; border-radius: 18px; margin-top: 0px; margin-bottom: 10px !important;" padding="none"
     *ngFor="let subject of fullSubjectList">
             <img class="cardImage" [src]="subject.img" (load)="tinderCardImage.style.opacity = 1">

             <div style="height: 90px; width: 100%;">
               <div style="height: 100%; width: 50%; float: left;">
                <div style="width: 100%; height: 25px;"></div>
                <span class="cardTitle">{{subject.title}}</span><br>
                <span class="cardLastReview">{{subject.lastReview}}</span>
               </div>

               <div style="height: 100%; width: 50%; float: left;">
                <div style="width: 100%; height: 25px;"></div>
                  <span style="font-size: 12px; font-weight: 500;">SUBJECT MASTERY</span>
                   <div class="progress" id="progress"></div>

               </div>
             </div>
   </ion-card> -->

  <app-tinder-ui [cards]="cards" (choiceMade)="logChoice($event)"></app-tinder-ui>


  <!-- <div *ngIf="showAddButton" id="addicondiv">
    <img src="../../assets/icon/add -icon.png">
  </div> -->
</ion-content>