ion-searchbar{
  z-index: 50;
  --background: #ffffff;
}

ion-content {
  --background: #fff url('../../assets/background.png') no-repeat center center / cover;
}

.cardFooter {
  margin-top: 10px;
  width: 100%;
  height: 50px;
}

.progress {
  height: 5px;
  width: 90%;
  border-radius: 25px;
  margin-left: 15px;
}

.subjectCard{
  border-radius: 20px;
  margin-bottom: 0px !important;
  background-color: #474747;
}

.cardTitle {
  margin-left: 15px;
  font-size: 14px;
  font-weight: 600;
}

.cardLastReview {
  margin-left: 15px;
  margin-top: 10px;
  font-size: 11px;
  opacity: 0.6;
}

.cardDescription {
  margin-left: 15px;
  margin-top: 10px;
  font-size: 11px;
  opacity: 0.9;
}

.cardDescription2 {
  margin-left: 15px;
  font-size: 11px;
  opacity: 0.9;
}

.lineDivider {
  height: 0.5px;
  background-color: black;
}

.progress {
  height: 5px;
  width: 40%;
  margin-left: 15px;
}

.cardImage {
  width: 92%;
  margin-top: 15px;
  object-fit: cover;
  border-radius: 15px;
  margin-left: 4%;
  height: 130px;
}

.goButton {
  height: 33px;
  width: 100px;
}

.progress {
  height: 5px;
  width: 90%;
  margin-left: 15px;
}

.tableHeaders {
  font-size: 10px;
}

.tableTexts {
  font-size: 12px;
}